/* 
    Document   : pages
    Created on : 2011-5-2, 11:12:49
    Author     : andy
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

body{
    margin: 0;
    padding: 0;
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.field_with_errors{
    border: 5px solid #788c03;
}

a{
    color: #b00;
}
a:hover{
    background-color: #b00;
    color: #eee;
}
th{
    background-color: #933;
    color: #fff;
}
tr.old{
    background-color: #fcc;
}
tr.even{
    background-color: #ecc;
}

#container{
    width: 960px;
    min-width: 960px;
    margin: 0 auto;
    padding: 0;
}

#header{
    background: #788c03 url(/images/h-grad.png) repeat-x bottom;
    height: 100px;
    margin: 10px 0 10px 0;
    text-align: left;
    padding-top: 1px;
}

#sidemenu{
    background: #d6d4b0;
    font-size: 80%;
    float: right;
    width: 260px;
    padding: 10px;
    min-height: 260px;
}

#sidemenu ul{
    list-style: none;
    margin-left: 0px;
    padding: 0;
}


#content{
    float: left;
    width: 660px;
}

/* User table styling */
table#users { width: 100%;}
table#users th { font-size: 95%; }
table#users td { font-size: 90%; }

.activity{
    border: 1px saddlebrown dashed;
    height: 115px;
   }
.act_title{
    margin: 10px 0 5px 0;
    font-weight: 900;
}
.act_time_add{
    padding-left: 120px;
    font-size: 14px;
    font-style: italic;
    margin-bottom: 5px;
}
.act_img{
    float: left;
    margin: 10px;
}